#python binary
*.pyc
*.pyo


#c++ binary
*.o
*.so
*.a
*.la
*.so.*
*.out


#swig
swigtest/*.cxx
swigtest/*.py

#libdtw
libdtw/libsal.py
libdtw/*.cxx
libdtw/test/capitest
.project
.cproject
.pydevproject
.settings
